* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-image: url("./imagens/stars-galaxies-purple-hd-1080P-wallpaper.jpg");
  display: flex;
}
.logo {
  margin: 2px 50px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
  font-weight: 700;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #15418c;
  width: 120%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  z-index: 1;
  margin-top: 15px;
  margin-left: -20px;
}
.dropdown:hover {
  background-color: #15418c;
  cursor: default;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li:hover {
  background-color: #12345e;
}
li {
  list-style: none;
  text-align: left;
  padding: 10px 5px 10px 10px;
}
.nasaTv {
  text-decoration: none;
  color: white;
}
.nasaTv:hover {
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
main * {
  padding: 5px 0px;
}
h1 {
  margin-bottom: 20px;
}
.selecaoData {
  margin-bottom: 20px;
}
#data:hover,
button {
  cursor: pointer;
}
.data-vermelha {
  background-color: red;
}
.none {
  display: none;
}
.display {
  color: red;
}
.dayVideo {
  width: 1000px;
  height: 700px;
}
.descricao {
  margin: 20px 0px;
  width: 80%;
}
footer {
  background-image: url("./imagens/stars-galaxies-purple-hd-1080P-wallpaper.jpg");
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: white;
}
footer:hover {
  cursor: default;
}
a {
  text-decoration: none;
  color: white;
}
